In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/businessdata_eda.csv')
df.head()

,Customer_ID,Age,Annual_Income,Annual_Spend,Tenure_Years,Region,Product_Category,Customer_Rating,Campaign_Response,Secondary_Email,Social_Media_ID,Payment_Method
0,1,NaN,733128.748097,80149.681676,3.0,East,Electronics,1,NaN,NaN,NaN,Cash
1,2,46.0,NaN,134370.020774,NaN,East,Electronics,5,No,NaN,448828.0,NaN
2,3,32.0,NaN,91415.504100,10.0,South,Furniture,5,No,user@email.com,NaN,UPI
3,4,60.0,518805.698816,228019.839643,NaN,North,Grocery,3,Yes,NaN,NaN,Debit Card
4,5,25.0,NaN,146324.953681,13.0,South,Electronics,1,NaN,NaN,NaN,Credit Card

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58765 entries, 0 to 58764
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer_ID        58765 non-null  int64
 1   Age                52949 non-null  float64
 2   Annual_Income      51835 non-null  float64
 3   Annual_Spend       58765 non-null  float64
 4   Tenure_Years       41347 non-null  float64
 5   Region             57573 non-null  object
 6   Product_Category   58765 non-null  object
 7   Customer_Rating    58765 non-null  int64
 8   Campaign_Response  18724 non-null  object
 9   Secondary_Email    14695 non-null  object
 10  Social_Media_ID    10639 non-null  float64
 11  Payment_Method     46385 non-null  object
dtypes: float64(5), int64(2), object(5)
memory usage: 5.4+ MB

In [ ]:
df.describe()

,Customer_ID,Age,Annual_Income,Annual_Spend,Tenure_Years,Customer_Rating,Social_Media_ID
count,58765.000000,52949.000000,5.183500e+04,5.876500e+04,41347.000000,58765.000000,10639.000000
mean,28011.172109,40.978999,5.500877e+05,1.230039e+05,6.987037,3.006909,545934.549112
std,16173.602370,13.528921,1.502299e+05,6.953074e+04,4.316229,1.414257,259468.780004
min,1.000000,18.000000,-1.198406e+05,-1.997663e+04,0.000000,1.000000,100001.000000
25%,13998.000000,29.000000,4.490619e+05,9.654503e+04,3.000000,2.000000,320482.500000
50%,28026.000000,41.000000,5.503798e+05,1.201257e+05,7.000000,3.000000,543158.000000
75%,42024.000000,53.000000,6.510765e+05,1.438741e+05,11.000000,4.000000,767331.500000
max,56000.000000,64.000000,1.114023e+06,2.352295e+06,14.000000,5.000000,999850.000000

In [ ]:
df.isnull()

,Customer_ID,Age,Annual_Income,Annual_Spend,Tenure_Years,Region,Product_Category,Customer_Rating,Campaign_Response,Secondary_Email,Social_Media_ID,Payment_Method
0,False,True,False,False,False,False,False,False,True,True,True,False
1,False,False,True,False,True,False,False,False,False,True,False,True
2,False,False,True,False,False,False,False,False,False,False,True,False
3,False,False,False,False,True,False,False,False,False,True,True,False
4,False,False,True,False,False,False,False,False,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
58760,False,False,False,False,False,False,False,False,False,True,True,False
58761,False,False,False,False,False,False,False,False,True,True,True,False
58762,False,False,False,False,False,False,False,False,True,True,True,False
58763,False,False,True,False,True,False,False,False,True,True,True,False
58764,False,False,False,False,False,False,False,False,False,True,True,False

In [ ]:
df.isnull().sum()

Customer_ID              0
Age                   5816
Annual_Income         6930
Annual_Spend             0
Tenure_Years         17418
Region                1192
Product_Category         0
Customer_Rating          0
Campaign_Response    40041
Secondary_Email      44070
Social_Media_ID      48126
Payment_Method       12380
dtype: int64

In [ ]:
df.isnull().sum().sum()

np.int64(175973)

In [ ]:
58765 * 14

822710

In [ ]:
(df.isnull().sum()/df.shape[0] *100).round(2)

Customer_ID           0.00
Age                   9.90
Annual_Income        11.79
Annual_Spend          0.00
Tenure_Years         29.64
Region                2.03
Product_Category      0.00
Customer_Rating       0.00
Campaign_Response    68.14
Secondary_Email      74.99
Social_Media_ID      81.90
Payment_Method       21.07
dtype: float64

### Drop Columns With Very High Missing Values (>50%)

In [ ]:
df = df.drop(columns=[
    "Secondary_Email",
    "Social_Media_ID",
    'Campaign_Response'
])
df.columns

Index(['Customer_ID', 'Age', 'Annual_Income', 'Annual_Spend', 'Tenure_Years',
       'Region', 'Product_Category', 'Customer_Rating', 'Payment_Method'],
      dtype='object')

### Drop Rows for Columns With Very Low Missing Values (<5%)

When missing values are very small, row removal is safe and avoids bias.

In [ ]:
df = df.dropna(subset=["Region"])

In [ ]:
df.shape

(57573, 9)

## Filling Missing values using central tendency measures

### Handle Categorical Columns Using Mode

In [ ]:
payment_mode = df["Payment_Method"].mode()[0]
df["Payment_Method"] = df["Payment_Method"].fillna(payment_mode)

### Handle Numerical Columns

In [ ]:
df['Age'].describe()

count    51879.000000
mean        40.970335
std         13.524799
min         18.000000
25%         29.000000
50%         41.000000
75%         53.000000
max         64.000000
Name: Age, dtype: float64

In [ ]:
df["Age"] = df["Age"].fillna(df["Age"].mean())            #Moderate missing, no extreme outliers

In [ ]:
df["Annual_Income"].describe().round(2)

count      50773.00
mean      550181.20
std       150247.78
min      -119840.58
25%       449149.60
50%       550519.35
75%       651244.72
max      1114023.29
Name: Annual_Income, dtype: float64

In [ ]:
df["Annual_Income"] = df["Annual_Income"].fillna(df["Annual_Income"].median())
# have outliers/ skewed

In [ ]:
#df["Tenure_Years"] = df["Tenure_Years"].fillna(df["Tenure_Years"].median())
# Discrete numeric variable

In [ ]:
df["Annual_Spend"].describe().round(2)

count      57573.00
mean      122967.42
std        69268.36
min       -19976.63
25%        96498.68
50%       120030.60
75%       143832.14
max      2197721.95
Name: Annual_Spend, dtype: float64

In [ ]:
df["Annual_Spend"] = df["Annual_Spend"].fillna(df["Annual_Spend"].median())

In [ ]:
df.isnull().sum()

Customer_ID             0
Age                     0
Annual_Income           0
Annual_Spend            0
Tenure_Years        17055
Region                  0
Product_Category        0
Customer_Rating         0
Payment_Method          0
dtype: int64

## Advanced Imputation Methods

### KNN imputer

> KNN Imputer fills missing values using the **average value of the k nearest samples**, based on similarity across other features.

* Example: If two customers are similar in age, income, and tenure, they are likely to have similar missing values.

> How KNN Imputer Works

1. Identify rows with missing values

2. Find k nearest neighbors using distance (usually Euclidean)

3. Compute:

- Mean (for numeric)

- Mode (implicitly via mean encoding for categorical if encoded)

4. Replace missing value

In [ ]:
knn_features = [
    'Tenure_Years',
    'Age',
    'Annual_Income',
    'Annual_Spend'
] #Choose features that logically influence customer tenure:

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_data = scaler.fit_transform(df[knn_features])
# KNN uses distance  features must be on the same scale.

In [ ]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5)
imputed_data = imputer.fit_transform(scaled_data)

In [ ]:
df[knn_features] = scaler.inverse_transform(imputed_data)
# Inverse Scale Back

In [ ]:
df['Tenure_Years'].describe()

count    57573.000000
mean         6.987512
std          3.781305
min          0.000000
25%          4.000000
50%          7.000000
75%         10.000000
max         14.000000
Name: Tenure_Years, dtype: float64

In [ ]:
df.isnull().sum()

Customer_ID         0
Age                 0
Annual_Income       0
Annual_Spend        0
Tenure_Years        0
Region              0
Product_Category    0
Customer_Rating     0
Payment_Method      0
dtype: int64